@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira&display=swap');

html {
  font-size: 16px;
  font-family: 'Saira';
}

.open-sans {
  font-family: 'Open Sans';
}

.saira {
  font-family: 'Saira';
}

body {
  font-size: unset;
  color: unset;
  font-family: unset;
  background-color: unset;
}

@media only screen and (max-width: 1900px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
}

.rs-theme-dark {
  --rs-text-secondary: white;
  --rs-menuitem-active-bg: #1D1829;
  --rs-bg-overlay: #1D1829;
}

.rs-btn-primary {
  background-color: #3498ff;
  background-color: var(--rs-btn-primary-bg);
  border: none;
  color: #fff;
  color: var(--rs-btn-primary-text);
}

.rs-form-control-label {
  font-weight: bold;
}

.rs-input {
  font-size: unset;
}

.rs-btn {
  font-size: unset;
}

.rs-dropdown-item.rs-dropdown-item-focus, .rs-dropdown-item:focus-visible {
  background-color: #C2FF00;
}