// @import url('rsuite/dist/rsuite.min.css');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira&display=swap');

.flex {
  display: flex;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// .gm-control-active.gm-fullscreen-control {
//   top: unset !important;
//   bottom: 100px;
// }

html {
  font-size: 16px;
  font-family: 'Saira';
}

.open-sans {
  font-family: 'Open Sans';
}

.saira {
  font-family: 'Saira';
}

[role=dialog] {
  z-index: 10;
}
body {
  font-size: unset;
  // color: unset;
  font-family: unset;
  background-color: #1F2024;
}

@media only screen and (max-width: 1900px) {
  html {
    font-size: 14 px;
  }
}

@media only screen and (max-width: 1700px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1500px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
}

[role=dialog] {
  z-index: 10;
}

.rs-theme-dark {
  --rs-text-secondary: white;
  --rs-menuitem-active-bg: #1D1829;
  /* --rs-bg-overlay: #1D1829; */
}

.rs-btn-primary {
  background-color: #3498ff;
  background-color: var(--rs-btn-primary-bg);
  border: none;
  color: #fff;
  color: var(--rs-btn-primary-text);
}

.rs-form-control-label {
  font-weight: bold;
}

.rs-input {
  font-size: unset;
}

.rs-btn {
  font-size: unset;
}

.rs-dropdown-item.rs-dropdown-item-focus, .rs-dropdown-item:focus-visible {
  background-color: #C2FF00;
}

.rs-theme-dark .rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: white;  
}

.rs-theme-light .rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: var(--rs-text-primary);  
}

.rs-picker-menu {
  z-index: 10;
}

a:active, a:focus, a:hover {
  text-decoration: unset;
}

.rs-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.rs-icon[tabindex] {
  cursor: pointer;
}
.rs-icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}
.rs-icon-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
          animation: icon-spin 1s infinite steps(8);
}
.rs-icon-flip-horizontal {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.rs-icon-flip-vertical {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.rs-calendar-table-cell {
  border: 1px solid var(--rs-border-secondary);
}

.rs-calendar-table-cell:first-child, .rs-calendar-table-cell:last-child {
  background-color: rgba($color: white, $alpha: .02);
}

.rs-calendar-table-cell .rs-calendar-table-cell-content {
  font-size: 1rem;
}

.rs-calendar-table-header-row .rs-calendar-table-cell-content{
  font-size: 1.25rem;
  font-weight: bold;
}

.rs-calendar-panel .rs-calendar-table-cell-day {
  text-align: right;
  margin-right: 1rem;
}

.rs-calendar-panel .rs-calendar-table-cell-is-today .rs-calendar-table-cell-day {
  margin-right: 1rem;
  text-align: center;
}